
<div class="container">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{! Previous/next page links - only displayed on page 2+ }}
    <ul class="center-align pagination">
    </ul>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<div class="row">
<article class="post-card z-depth-1" style="opacity:0">
  <a href="{{url}}">
  <div class="col m4">
    <div class="post-card-img" style="background:url({{image}});background-size:cover;">
    </div>
  </div>

  <div class="col m8">
  <header class="post-header">
      <h1 class="post-title">{{{title}}}</h2>
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="26"}}...</p>
    </section>
    <footer class="post-meta">
      <div class="chip">
        {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
        {{author}}
      </div>
        {{tags prefix=" on "}}
    </footer>
  </div>
  </a>

</article>
</div>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
<ul class="center-align pagination">
</ul>
</div>
<script>
$(document).ready(function(){
  var pages = {{pagination.pages}};
  var page = {{pagination.page}};
  var next = {{#if pagination.next}}{{pagination.next}}{{else}}0{{/if}};
  var prev = {{#if pagination.prev}}{{pagination.prev}}{{else}}0{{/if}};
  var pageUrl = "{{page_url}}";

  var pagination = new Pagination(pages,page,next,prev,pageUrl);
  pagination.buildPagination($(".pagination"));

  $(".post-card").each(function(index){
    var height = $(this).outerHeight();
    $(this).find(".post-card-img").height(height);

    $(this).delay(500*index).animate(
      {
        opacity:1
      },500
    );
  });
});
</script>
