
<div class="container">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{! Previous/next page links - only displayed on page 2+ }}
    <ul class="center-align pagination">
    </ul>

{{! This is the post loop - each post will be output using this markup }}
<div class="row">
  <div class="col m9">
    {{#foreach posts}}
    <div class="row">
    <article class="post-card z-depth-1 flow-text" style="opacity:0">
      <a href="{{url}}">
      <div class="row">
      <div class="col m4 hide-on-small-only">
        <div class="post-card-img" style="background:url({{image}});background-size:cover;">
        </div>
      </div>
      <div class="col m8 s12">
      <header class="post-header">
          <h1 class="post-title">{{{title}}}</h2>
          <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
          by {{author.name}}
        </header>
        <div class="post-body">
        <section class="post-excerpt ">
            <p>{{excerpt words="26"}}...</p>
        </section>
      </div>
      </div>
    </div>
      </a>

    </article>
    </div>
    {{/foreach}}
  </div>
  <div class="col m3 s12">
    {{> latest-posts-aside}}
    {{> tag-list}}
  </div>
</div>
  {{! Previous/next page links - displayed on every page }}
  <ul class="center-align pagination">
  </ul>
</div>
