{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{> header}}
<div class="row">
  <main class="container" role="main">
  <div class="col m9">
    {{#post}}

        <article class="{{post_class}}">
            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
                <section class="post-meta">
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
                </section>
                <div class="chip">
                  {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
                  {{author}}
                </div>
            </header>

            <section class="post-content">
                {{content}}
            </section>

        </article>

    {{/post}}
  </div>

  <div class="col m3">
    {{> latest-posts-aside}}
    {{> tag-list}}
  </div>
    </main>
</div>
